<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon name="home-sharp"></ion-icon>
      <!-- <ion-label>Dashboard</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="pie-chart"></ion-icon>
      <!-- <ion-label>Report</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="card">
      <ion-icon name="card-outline"></ion-icon>
      <!-- <ion-label>Card</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="settings"></ion-icon>
      <!-- <ion-label>Setting</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>